#SPDX-License-Identifier: MIT-0
---
# tasks file for docker
- name: Install Docker
  become: true
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Verify Docker is installed
  ansible.builtin.command: docker --version
  register: docker_version

- name: Display Docker version
  debug:
    var: docker_version.stdout

- name: Run Docker
  ansible.builtin.systemd:
    name: docker
    enabled: yes
    state: started

- name: Install Redis Image
  # Update from command to community.docker collection
  # ansible.builtin.command: docker pull redis
  community.docker.docker_image:
    name: redis
    state: present
    source: pull

- name: Spin up Redis Container
  # Update from command to community.docker collection
  # ansible.builtin.command: docker run -d --name redis-server redis -p 6379:6379
  # debug:
  #   msg: "Redis Container is up and running"
  community.docker.docker_container:
    name: redis-server
    image: redis
    state: started
    ports:
      - "6379:6379"

- name: Verify containers running"
  ansible.builtin.command: docker ps --filter "name=redis-server" --format "{{.Names}}"
  register: containers

- name: Display running containers
  debug:
    msg: "Redis running containers: {{ containers.stdout }}" 
